extends layout

block content
	h2 Welcome
	p(class='well') Welcome to the blog that is updated rarely.
	h2 My interests
	p(class='well'):| I like to write software. 
	h2 Blog software 
	p(class='well')
		| See 
		a(href='/posts/2944558') this post
		|  for more details. 
