extends layout

block content
	h1= title
	h2 Welcome
	p(class='well') Welcome to the blog that is updated rarely.
	h2 My Interests
	p(class='well'):| I like to write software
	h2 Blog software 
	p(class='well')
		| This blog is based on 
		a(href='http://github.com/liammclennan/gistblog')  gistblog
		|  by Liam McLennan 
		a(href='http://withouttheloop.com') (Without the loop)
