include mixins/sidebar
include mixins/google_analytics

doctype 5
html
    head
        title= title

        meta(name='description', content='A blog that may be updated, rarely.')
        meta(name='author', content='Adam Chester')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/code.css')
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap.min.css')
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css')

        link(rel='shortcut icon', href='/favicon.ico')
        link(rel='apple-touch-icon', href='images/apple-touch-icon.png')
        link(rel='apple-touch-icon', sizes='72x72', href='images/apple-touch-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='114x114', href='images/apple-touch-icon-114x114.png')

        mixin google_analytics
    body
        nav.navbar(role='navigation')
            div.navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/') Rarely updated blog
            div.collapse.navbar-collapse.navbar-ex1-collapse
                ul.nav.navbar-nav
                    each link in shared.topLevelMenuItems
                        li(class=link.classes): a(href=link.href)= link.text


        div(class='container')
            div.row
                div.col-lg-9
                    block content
                div.col-lg-3
                    mixin sidebar(shared.topLevelMenuItems, shared.readingListTags, shared.recentPosts, shared.postTags)
            div#footer
                footer.footer
                    p| &copy; Adam Chester 2013

        block body_scripts
            script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js')
            script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
            script(type='text/javascript', src='//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/js/bootstrap.min.js')

