doctype 5
html
	head
		title= title

		meta(name='description', content='A blog that may be updated, rarely.')
		meta(name='author', content='Adam Chester')
		meta(name='viewport', content='width=device-width')

		script(type='text/javascript', src='/javascripts/jquery.min.js')
		script(type='text/javascript', src='/javascripts/bootstrap.min.js')
		script(type='text/javascript', src='/javascripts/jquery.min.js')

		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.responsive.min.css')

	body
		div(class='navbar navbar-fixed-top')
			div(class='navbar-inner')
				div(class='container')
					a(class='btn btn-navbar', data-toggle='collapse', data-target='.nav-collapse')
						span(class='i-bar') 
							i(class='icon-chevron-down icon-white')
					a(class='brand', href='/') Rarely updated
					div(class='nav-collapse')
						ul(class='nav')
							li(class=homeNavClasses): a(href='/') Home
							li(class=aboutNavClasses): a(href='/about') About
							li: a(href='http://twitter.com/adamchester') twitter
							li: a(href='http://github.com/adamchester') github

		div(class='container')
			block content

		script(src='/javascripts/underscore-min.js')