include mixins/sidebar
include mixins/google_analytics

doctype 5
html
	head
		title= title

		meta(name='description', content='A blog that may be updated, rarely.')
		meta(name='author', content='Adam Chester')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')

		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.responsive.min.css')

		link(rel='shortcut icon', href='/favicon.ico')
		link(rel='apple-touch-icon', href='images/apple-touch-icon.png')
		link(rel='apple-touch-icon', sizes='72x72', href='images/apple-touch-icon-72x72.png')
		link(rel='apple-touch-icon', sizes='114x114', href='images/apple-touch-icon-114x114.png')

		mixin google_analytics
	body
		div.navbar.navbar-fixed-top: div.navbar-inner: div.container
			a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
				span.i-bar: i.icon-chevron-down.icon-white
			a(class='brand', href='/') Rarely updated
			div.nav-collapse: ul.nav
				each link in shared.topLevelMenuItems
					li(class=link.classes): a(href=link.href)= link.text

		div(class='container-fluid')
			div.row-fluid
				div.span9
					block content
				div.span3
					mixin sidebar(shared.topLevelMenuItems, shared.readingListTags, shared.recentPosts)
			div#footer
				footer.footer
					p| &copy; Adam Chester 2012
		block body_scripts
			script(type='text/javascript', src='/javascripts/underscore-min.js')
			script(type='text/javascript', src='/javascripts/jquery.min.js')
			script(type='text/javascript', src='/javascripts/bootstrap.min.js')
			script(type='text/javascript', src='/javascripts/jquery.min.js')

