extends layout

include mixins/post_full

block content
    div.well
        |You are now viewing posts related to  
        span.label.label-default.glyphicon.glyphicon-tag #{tagName}
    each post in posts
        mixin post_summary(post, true)

