extends layout

block content
	h1= title
	p
		| These links are like bookmarks, saved by me as I'm reading the web, via 
		a(href='http://getpocket.com') getpocket
		| . Not everything I read is listed here. Typically I only save to Pocket when
		| I am not able to read the article at the time I encountered it.
	div.well
		table.table.table-striped.table-bordered.table-condensed
			thead: tr
				th Date Added
					i.icon-time
				th Link
					i.icon-bookmark
				th Tags
					i.icon-tags
			tbody
				each item in items
					tr
						td= item.time_added.toDateString()
						td: a(href=item.url)= item.title 
						td= item.tags.join(', ')