extends layout

include mixins/reading_list_table

block content
	h1= title
	p
		| These links are like bookmarks, saved by me as I'm reading the web, via 
		a(href='http://getpocket.com') getpocket
		| . Not everything I read is listed here. Typically I only save to Pocket when
		| I am not able to read the article at the time I encountered it.
	mixin reading_list_table(items)