extends layout

block content
	h1= title
	p
		| This page is a list of links / pages that I have tagged with the tag '
		=tag.name
		|'.
	table.table.table-striped.table-bordered.table-condensed
		thead: tr
			th Date Added
				i.icon-time
			th Link
				i.icon-bookmark
			th Tags
				i.icon-tags
		tbody
			each item in items
				tr
					td= item.time_added.toDateString()
					td: a(href=item.url)= item.title 
					td
						each tag in item.tags
							a(href='/reading/tags/' + tag, style='font-color: white;')
								span.label.label-info
									=tag
							| 