extends layout

include mixins/reading_list_table

block content
	h1= title
	p
		| This page is a list of links / pages that I have tagged with the tag '
		=tag.name
		|'.
	mixin reading_list_table(items)