extends layout
include mixins/twitter_button
include mixins/twitter_profile_widget
block content
	mixin twitter_button('adamchester')
	mixin twitter_profile_widget('adamchester', 'auto', 400, 'faves')