body {
	position: relative;
	padding-top: 60px;
	background: url(../images/whitey.png);
}

.nav-list {
	padding-left: 3px !important;
	padding-right: 1px !important;
}

.sidebar-tweets {
	height: 580px;
}

.sidebar-nav {
	padding-left: 11px !important;
}

.well {
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
}

.navbar-fixed-top {
	box-shadow: 0px 0px 3px #000;
	border-bottom: 1px solid #999;
}
