/* Tag cloud formatting */
.tag-cloud-small { font-size: small; }
.tag-cloud-medium { font-size: large; }
.tag-cloud-large { font-size: x-large; }

/* Reading list - date added column width */
#rl-date-added { width: 95px; }
.reading-list-tag { display: inline-block !important; }

/* post formatting */
.blog-post { margin-bottom: 40px; }
i { padding-right: 2px; }
a.label { margin-right: 2px; }
.label { text-transform: uppercase; }
.post-tags span { margin-right: 2px; }
.post-metadata [class^="icon-"] { margin-right: 2px; }
.post-metadata { padding-bottom: 5px; margin-bottom: 5px; border-bottom: solid 1px; }
.post-metadata span { display: inline-block; margin-right: 4px; font-size: x-small !important; }
.post-footer { padding-top: 10px; color: #999999; }

/* Nice little shadows on boxes */
.well { -moz-box-shadow: 0 0 5px #888; -webkit-box-shadow: 0 0 5px #888; box-shadow: 0 0 5px #888; }
.navbar-fixed-top { box-shadow: 0px 0px 3px #000; border-bottom: 1px solid #999; }
