
include twitter_share_post

mixin post_summary(post, linkTitle)
	div.jumbotron
		h2= post.title
		p
			i.glyphicon.glyphicon-time
			span.text-muted
				|Posted #{post.date.toDateString()} in 
			for tag in post.tags
				span: a.label.label-default.glyphicon.glyphicon-tag(href='/posts/tag/' + tag)=tag
		if linkTitle
			p
				a.btn.btn-primary(href=post.url, data-wtf='') Read more 
				a.badge.post-summary-comments-badge(href=post.gist_url + '#comments')=post.comment_count + ' comments'


