
include reading_list_tag

mixin reading_list_table(items)
	table#reading-list.table.table-striped.table-bordered.table-hover.table-condensed
		thead: tr
			th.hide ID
			th#rl-date-added Date Added 
				i.icon-time
			th#rl-link Link 
				i.icon-globe
			th#rl-tags Tags 
				i.icon-tags
		tbody
			each item in items
				tr
					td.hide= item.id
					- var dteString = item.time_added.toDateString()
					- dteString = dteString.substring(3, dteString.length)
					td= dteString
					td: a(href=item.url)= item.title 
					td
						each tag in item.tags
							mixin reading_list_tag(tag)
