
include twitter_follow_button
include twitter_profile_widget
include tag_cloud

mixin sidebar(links, tags, recentPosts, postTags)
	div.well.sidebar-nav
		ul.nav.nav-list
			li.nav-header Recent posts
			each post in recentPosts
				li(class=post.classes)
					a(href=post.url)= post.title
					| 
					- var dteString = post.date.toDateString()
					- dteString = dteString.substring(4, dteString.length)
					span.muted= 'on ' + dteString
			if postTags
				li.nav-header Post topics
				li: mixin tag_cloud(postTags)
			li.nav-header Reading List Tags
			li
				mixin tag_cloud(tags)
			li.nav-header Recent tweets
			mixin twitter_follow_button('adamchester')
			mixin twitter_profile_widget('adamchester')